body {
    background: skyblue;
    position: relative;
}



@keyframes eyemove {
    25% {
        transform: translateX(2px)
    }
    50% {
        transform: translateY(2px)
    }
    75% {
        transform: translateX(-20px)
    }
    100% {
        transform: translateY(-20px)
    }
}

.me {
    margin: 150px auto;
    width: 400px;
    height: 400px;
    position: relative;
    /* border: 3px solid black; */
}

.hoodi {
    position: absolute;
    box-sizing: border-box;
    width: 235px;
    height: 201px;
    background: #D9D9D9;
    border: 5px solid #000000;
    border-radius: 100px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.face {
    position: absolute;
    box-sizing: border-box;
    width: 181px;
    height: 149px;

    background: #424242;
    border: 5px solid #000000;
    border-radius: 78.5px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}



.glasses {
    position: absolute;
    width: 40px;
    height: 50px;

    background: #D9D9D9;
    border: 5px solid #000000;
    border-radius: 10px 10px 20px 20px;
}

.eye {
    position: absolute;
    width: 33px;
    height: 37.09px;
    background: #D9D9D9;
    border: 3px solid #000000;
    border-radius: 40px;
    transform: rotate(-0.24deg);
}

.pupil {
    position: absolute;
    width: 12px;
    height: 12px;
    background: #000000;
    border-radius: 30px;
    top: 47%;
    left: 64%;
    transform: translate(-50%, -50%);

    animation: eyemove infinite 4s ease-in-out;
}

.left-eyes {
    top: 47%;
    left: 38%;
    transform: translate(-50%, -50%);
}

.right-eyes {
    top: 47%;
    left: 62%;
    transform: translate(-50%, -50%);
}

.lip {
    position: absolute;
    width: 84px;
    height: 20px;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lip-bottom {
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.body {
    position: absolute;
    width: 289px;
    height: 108px;
    background: #D9D9D9;
    border: 5px solid #000000;
    border-radius: 104.5px 104.5px 0px 0px;

    z-index: -1;
    top: 86%;
    left: 51%;
    transform: translate(-50%, -50%);
}

.body-design {
    position: absolute;
    width: 162px;
    height: 41px;

    background: #424242;
    border: 5px solid #000000;
    border-radius: 78.5px;
    z-index: 1;
    top: 94%;
    left: 51%;
    transform: translate(-50%, -50%);
}